{% extends "base.html" %}
{% block content %}
<h1>About us</h1>
<p class="justify">We are a group of researchers at the <a class="printit" href="https://game.itu.dk/" target='_blank'>Center for Computer Games Research at the IT University of Copenhagen</a>.</p>
<ul>
    <li><a class="printit" href="https://www.miguelgondu.com/about/" target='_blank'>Miguel González Duque</a></li>
    <li><a class="printit" href="https://www.linkedin.com/in/rasmus-berg-palm-46319451/">Rasmus Berg Palm</a></li>
    <li><a class="printit" href="http://sebastianrisi.com/" target='_blank'>Sebastian Risi</a></li>
</ul>

<p class="justify">Adaptive Roguelike applies an approach called <a class="printit" href="https://www.cs.ox.ac.uk/people/nando.defreitas/publications/BayesOptLoop.pdf" target='_blank'>Bayesian Optimization</a> to model the time it takes you to solve differently challenging levels. If you want to find out more about the technology behind it, <a class="printit" href="https://arxiv.org/abs/2005.07677" target='_blank'>read our paper</a>.</p>

<p class="justify">We collect anonymous data about which levels you solve, how long it takes for you to solve them and your playtrace. We do not collect any personal data.</p>

<p class="justify">The sprites for this game were taken and adapted from <a class="printit" href="https://kenney.nl/" target="_blank">Kenney's</a>.</p>

<p class="justify">This work was partially supported by a Google Faculty Research Award 2019.</p>
{% endblock %}