<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adaptive Roguelike</title>
    <base href="/static/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.335cd4b80eeb71c42104.css"></head>
<body>
  <div class="about-container">
    <a href="/end">Finish Experiment</a>
  </div>
  <app-root></app-root>
<script src="runtime.acf0dec4155e77772545.js" defer></script><script src="polyfills.35a5ca1855eb057f016a.js" defer></script><script src="scripts.0ef44646add6c2508c5f.js" defer></script><script src="main.00c26fa57cd52ee02ebd.js" defer></script></body>
</html>
